.main-wrapper {

}
.main-nav {
    margin: 0 auto;
    width: 940px;
    min-height: 73px;
    
}
.nav-menu ul li, A{
    float: left;
    margin-right: 30px;
    text-decoration: none;

}
.nav-login a{
    float: right;
    margin-right: 0;

}
